<!DOCTYPE html>
    <html>
        <head>
            <title>{{title}}</title>
            <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script src=https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.4/semantic.min.js"></script>
            <link rel="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.4/semantic.min.css"></link>   
            <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
        <body>
            {{{body}}}
            <script src='/javascripts/todo.js'></script>
        </body>
</html>
